.error{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%)

}
img{
    height: 300px;
}

p:nth-child(1){
    font-size: 4rem;
    text-align: center;
    color:#042142;
    font-weight: 700;
    margin-bottom: 20px;

}
p:nth-child(3){
    font-size: 3rem;
    text-align: center;
    color:#042142;
    font-weight: 700;
    margin-top: 20px;
}

.back{
    background-color: #042142;
    color: #fff;
    padding: 2% 4%;
    text-decoration: none;
    margin-left: 40%;
}


@media screen and (max-width:500px) {
    img{
        height:200px
    }
    
}

