.main {
  width: 80%;
  margin: 0 auto;
}

.samples {
  width: 100%;
  display: flex;
  gap: 20px;
}
.side {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side img {
  width: 100%;
}


.side p {
  font-size: 0.8vw;
  color: #636363;
  margin-top: 10px;
  font-weight: 400;
}
.side .details h3 {
  font-size: 1vw;
  font-weight: 600;
}
.samples .demo {
  width: 70%;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
  
}

.demo2,
.demo3 {
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
}
.details {
  width: 100%;
  padding: 2%;
}
.title {
  font-size: 1.2vw;
  margin-left: 1%;
  margin-bottom: 1%;
}
.details h3 {
  font-size: 1.5vw;
  font-weight: 600;
}
.details h3 span {
  color: #ee453b;
}
.demo img {
  width: 100%;
}
.demo p {
  font-size: 1vw;
  color: #636363;
  margin-top: 2%;
  font-weight: 400;
}

/* TO FIX - TOP  NEWS */

.title-source {
  font-size: 1.2vw;
  margin-left: 1%;
  margin-top: 3%;
}


/* MACRO SOURCE */

.sources{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}


.source-info{
  background-color: #fef7f8;
  box-shadow: 0px 2px 3px 2px rgb(254,247,248);
  width: 32%;
  padding: 3%;
  margin: 0 auto;
}
.source-info svg{
  height: 2vw;
  width: 2vw;
  color: #042142;
}

.info p:nth-child(1){
  font-size: .8vw;

}
.info p:nth-child(2){

  margin: 2% 0;

}
.info p:nth-child(2) a {
  text-decoration: none;
  font-size: 1.5vw;
  color: #042142;
  font-weight: 600;
}
.info p:nth-child(3){
  color: #000;
  opacity: .8;
  font-size: 1.1vw;
}

.info p:nth-child(4){
  margin-top: 4%;
  position: relative;

}
.info p:nth-child(4)::after{
  position: absolute;
  content:"";
  background-color: #042142;
  height: 2px;
  width: 10%;
  left: 0;
  bottom: 0;

}
.info p:nth-child(4) a{
  color:#ee453b;
  text-decoration: none;
  font-size: 1vw;
  font-weight: 600;
  transition: color .5s ease-in-out;
}
.info p:nth-child(4) a:hover{
  color: #042142;
}

@media screen and (max-width:1000px){
  /* .sources{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
  } */

  /* .source-info{ */
    /* background-color: #fef7f8;
    box-shadow: 0px 2px 3px 2px rgb(254,247,248);
    width: 32%;
    padding: 3%;
    margin: 0 auto;
  } */

  .sources{
    gap:10px;
    
  }
  .source-info{
    width: 30%;
    margin:0 auto;
   
  }

}

@media screen and (max-width:650px){


  .sources{
    gap:10px;
    
  }
  .source-info{
    width: 45%;
    margin:0 auto;
   
  }

}
@media screen and (max-width:350px){


  .sources{
    gap:10px;
    
  }
  .source-info{
    width:100%;
    margin:0 auto;
   
  }
  .info p:nth-child(1){
    font-size: 1.3vw;
  
  }
  .info p:nth-child(2) a {
   
    font-size: 1.9vw;
   
  }
  .info p:nth-child(3){
    
    font-size: 1.4vw;
  }
  .info p:nth-child(4) a{
    
    font-size: 1.5vw;
   
  }

  .source-info svg{
    height: 4vw;
    width: 4vw;
 
  }


}




